.App {
  display: flex;
  text-align: center;
  margin: 0 5%;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

aside {
  width: 200px;
}

main {
  flex: 1;
}

.dialog-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-wrapper-darken {
  background: #0000004f;
}

.context-menu-wrapper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  cursor: default;
}

.context-menu-container {
  position: fixed;
  background: #fff;
  box-shadow: 3px 3px 6px #676767;
  width: auto;
}

.context-menu-container > .context-menu {
  padding: 5px 0;
}

.context-menu-container > .context-menu .option {
  padding: 5px 20px;
  font-size: 12px;
}
.context-menu-container>.context-menu .option:hover {
  background-color: #efefef;
}