.calendar-area {
    box-sizing: border-box;
    height: 100%;
    margin: 0 10px;
    padding: 10px 10px 40px;
    /* border: solid 1px #4f4f4f; */
    border-top: none;
    border-bottom: none;
    display: flex;
    flex-direction: column;
}

.calendar-management {
    position: relative;
    display: flex;
    margin: 10px 0;
    margin-left: auto;
    margin-right: 15px;
    width: 420px;
    justify-content: space-between;
}

.calendar-switcher {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.calendar-switcher button {
    padding: 0;
    height: 25px;
    display: flex;
    align-items: center;
    align-content: center;
}

.calendar-switcher button.get-today {
    padding: 0 6px;
}

.calendar-settings {
    display: flex;
}

.calendar-settings button {
    height: 100%;
}

.settings-container {
    position: absolute;
    width: 240px;
    right: 0;
    top: 30px;
    padding: 20px;
    background: #fff;
    border: solid 1px #ddd;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 5px -3px #000;
}

.calendar {
    height: 65%;
    padding: 10px;
    border: solid 2px #b3b3b3;
    border-radius: 10px;
    flex: 1;
}

.week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.week-days {
    margin-bottom: 4px;
    grid-template-rows: 30px;
    align-items: center;
}

.week-day {
    height: 100%;
    border: solid 1px #ccc;
    display: grid;
    align-items: center;
    border-bottom: solid 3px #ccc;
}
.week-day:first-child {
    border-radius: 7px 0 0;
}
.week-day:last-child {
    border-radius: 0 7px 0 0;
}

.dates {
    grid-template-rows: repeat(6, 1fr);
    height: calc(100% - 30px);
}

.date {
    border: solid 1px #ccc;
    color: #878787;
    text-align: right;
    line-height: 11px;
    padding: 10px;
}
.date:hover {
    border: solid 1px #1b1b1b;
}

.week-day, .date {
    cursor: default;
}

.date.current-month {
    color: #000;
    font-weight: 600;
}

.date.current-date {
    background: #cee8ff;
}


.date-type-1 {
    background-color: #ecd6df;
}
.date.current-month.current-date.date-type-1 {
    background-color: #ded1ec;
}
.date.current-month.date-type-1 {
    background-color: #d9adbf;
}
.current-date.date-type-1 {
    border: solid 1px #d9adbf;
    outline: solid 1px #d9adbf;
}


.date-type-2 {
    background-color: #daeed9;
}
.date.current-month.current-date.date-type-2 {
    background-color: #c4e3e6;
}
.date.current-month.date-type-2 {
    background-color: #aed9ad;
}
.current-date.date-type-2 {
    border: solid 1px #aed9ad;
    outline: solid 1px #aed9ad;
}


div.date.active-date {
    border: solid 1px #4588c4;
    outline: solid 1px #4588c4;
}