.calendar-area {
    box-sizing: border-box;
    height: 100%;
    margin: 0 10px;
    padding: 10px 10px 40px;
    border-top: none;
    border-bottom: none;
    grid-template-columns: 1fr auto;
    grid-template-rows: min-content 1fr;
}
.App-mobile .calendar-area {
    margin: 0;
    width: 100vw;
    padding-bottom: 10px;
}

.calendar-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.calendar-management {
    position: relative;
    margin: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.App-mobile .calendar-management {
    margin: 10px 5px;
}

.calendar-management h2 {
    margin: 0;
    flex: 1;
    text-align: left;
    text-transform: capitalize;
}

.calendar-switcher {
    display: flex;
    justify-content: space-evenly;
    width: 350px;
    height: 35px;
}

.calendar-switcher button {
    padding: 0;
    display: flex;
    align-items: center;
    align-content: center;
}

.calendar-switcher button.get-today {
    padding: 0 6px;
}

.calendar-settings {
    display: flex;
    height: 35px;
    position: relative;
    z-index: 2;
}

.calendar-settings button {
    height: 100%;
    margin: 0;
    padding: 3px;
    background: none;
    border: none;
}

.calendar-settings button path:last-child {
    fill: #959595
}

.setting {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}


.settings-container {
    position: absolute;
    width: 280px;
    right: 0;
    top: 30px;
    padding: 20px;
    background: #fff;
    border: solid 1px #ddd;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px -3px #000;
    z-index: 2;
    user-select: none;
}

.settings-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}


.calendar {
    padding: 10px;
    border: solid 2px #b3b3b3;
    border-radius: 10px;
    flex: 1;
    overflow: hidden;
}
.App-mobile .calendar {
    border: none;
}


.calendar-info-container {
    display: flex;
}
.App-mobile .calendar-info-container {
    border-top: solid 1px #ccc;
    max-height: 20vh;
    min-height: 100px;
    overflow: auto;
}

.calendar-info {
    flex: 1;
    height: 100%;
    width: 15vw;
    min-width: auto;
}

.calendar-info > div {
    margin: 0 10px;
}

.calendar-info-header {
    margin: 0;
    padding: 5px 10px;
}

.calendar-info > div {
    display: flex;
    align-items: center;
}

.calendar-info .color-item-example {
    height: 20px;
    width: 20px;
    margin: 7px 10px;
}


.week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.week-days {
    margin-bottom: 4px;
    grid-template-rows: 30px;
    align-items: center;
}

.week-day {
    height: 100%;
    border: solid 1px #ccc;
    display: grid;
    align-items: center;
    border-bottom: solid 3px #ccc;
}
.week-day:first-child {
    border-radius: 7px 0 0;
}
.week-day:last-child {
    border-radius: 0 7px 0 0;
}

.dates {
    position: relative;
    grid-template-rows: repeat(6, 1fr);
    height: calc(100% - 30px);
    touch-action: none;
}

.date {
    border: solid 1px #ccc;
    color: #878787;
    text-align: right;
    line-height: 11px;
    padding: 10px;
    user-select: none;
}
.date:hover {
    border: solid 1px #1b1b1b;
}

.week-day, .date {
    cursor: default;
}

.date.current-month {
    color: #000;
    font-weight: 600;
}

.date.current-date {
    background: #cee8ff;
}


.date-type-1 {
    background-color: #ecd6df;
}
.date.current-month.current-date.date-type-1 {
    background-color: #ded1ec;
}
.date.current-month.date-type-1 {
    background-color: #d9adbf;
}
.current-date.date-type-1 {
    border: solid 1px #d9adbf;
    outline: solid 1px #d9adbf;
}


.date-type-2 {
    background-color: #daeed9;
}
.date.current-month.current-date.date-type-2 {
    background-color: #c4e3e6;
}
.date.current-month.date-type-2 {
    background-color: #aed9ad;
}
.current-date.date-type-2 {
    border: solid 1px #aed9ad;
    outline: solid 1px #aed9ad;
}


.date-type-3 {
    background-color: #acf6;
}
.date.current-month.current-date.date-type-3 {
    background-color: #79d5f2;
}
.date.current-month.date-type-3 {
    background-color: #acf;
}
.current-date.date-type-3 {
    border: solid 1px #acf;
    outline: solid 1px #acf;
}


div.date.active-date {
    border: solid 1px #4588c4;
    outline: solid 1px #4588c4;
}