#menu {
    list-style-type: none;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
}

.schedules {
    width: 100%;
    box-sizing: border-box;
    padding: 7px;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px #b7b6b6;
    height: 36px;
    font-weight: 600;
}
.schedules:last-child {
    border: none;
}
.schedules:hover {
    background-color: #fafafa;
}
.schedules > .schedule-manage-btns {
    display: none;
}
.schedules:hover > .schedule-manage-btns {
    display: flex;
}

.schedule-manage-btns button {
    width: 23px;
    padding: 0;
    background: none;
    border: none;
}
.schedule-manage-btns .schedule-btn-edit:hover path {
    fill: #199b38;
}
.schedule-manage-btns .schedule-btn-remove:hover path {
    fill: #c84444;
}

.schedule-active {
    color: #379cd9;
}

.add-schedule {
    order: -1;
    padding: 7px;
    border: solid 1px #b9cfd5;
    background: #ecf7fa;
    color: #37535a;
    justify-content: center;
    border-radius: 7px;
    margin-top: 5px;
}
.add-schedule:hover {
    background-color: #e0f0f5;
}


.dialog {
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px 0px #8c8c8c;
}

.add-schedule-dialog {
    position: relative;
    width: 300px;
    padding: 20px;
}

.add-schedule-dialog > input {
    margin-bottom: 10px;
}

.add-schedule-dialog button.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background-color: #fff0;
    border: none;
    font-size: large;
}

.add-schedule-dialog .open-close-btns {
    margin-top: 10px;
    width: 35%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}


.confirm-dialog {
    width: 250px;
    padding: 20px 40px;
}

.confirm-dialog > p {
    margin-top: 0;
}

.manage-confirm-btns {
    width: 100px;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}